// Colors variables
$purple : #755CDE;
$orange : #F6A560;
$pink : #F39E9E;
$red : #EB7565;
$blue : #61C4B7;
$dark-purple : #552049;
$black : #030303;
$grey : #7A746E;
$white : #FFF7F0;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    // max-width: 144rem;
    max-width: 100vw;
    overflow-x: hidden;
    background-color:$white ;
    
}

.container {
    width: 77%;
    // width: 90vw;
    margin: 3.4rem auto;

    @media (min-width :768px) and (max-width :1440px) {
        // max-width: 68.5rem;  
        width: 90%;
    }

    @media (min-width :375px) and (max-width :767px) {
        width: 91%;  
    }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6rem;

    @media (min-width :768px) and (max-width :1440px) {
        margin-bottom: 6.4rem;  
    }

    @media (min-width :375px) and (max-width :767px) {
        margin-bottom: 3rem;  
    }


    .header__logo {
        @media (min-width :375px) and (max-width :767px) {
            width: 4.8rem;
            height: 4.8rem;  
        }
    }

    &__button:link,
    &__button:visited {
       text-decoration: none;
       color: $white ;
       padding : 1.4rem 4.5rem;
       font-size: 1.6rem;
       background-color: $black;
       border-radius: 2.8rem;
       transition: all .2s;

       @media (min-width :375px) and (max-width :767px) {
        font-size: 1.4rem;
        padding : 1.3rem 2.8rem;
    }
    }

    &__button:hover {
       background-color: $purple;
    }
}

.title {
    width: 75.1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 8rem auto;


    @media (min-width :768px) and (max-width :1440px) {
        margin: 0 auto 6.4rem auto; 
    }

    @media (min-width :375px) and (max-width :767px) {
        margin: 0 auto 3.2rem auto; 
    }
    
    h1 {
        width: 75.1rem;
        color: $black;
        font-size: 5.6rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2.3rem;

        @media (min-width :768px) and (max-width :1440px) {
            width: 69rem;
            margin-bottom: 2.7rem;
            font-size: 4.4rem;  
        }

        @media (min-width :375px) and (max-width :767px) {
            width: 34.3rem;
            margin-bottom: 1.6rem;
            font-size: 3.6rem;  
        }
    }

    p {
        width: 73rem;
        margin: 0 auto;
        color: $grey;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        line-height: 2.8rem;

        @media (min-width :768px) and (max-width :1440px) {
            width: 57.3rem;  
            margin-left: 5.5rem;
            margin-right: auto; 
        }

        @media (min-width :375px) and (max-width :767px) {
            width: 28.5rem;  
            margin-left: 3.5rem;
            margin-right: auto; 
        }
    }
}

.patterns {
    display: grid;
    grid-template-columns: 32% repeat(2, 14.5%) 32%;
    grid-template-rows: 18.2rem 15.8rem;
    column-gap: 2.37%;
    row-gap: 2.4rem;
    margin-bottom: 16rem;

    @media (min-width :768px) and (max-width :1440px) {
        grid-template-columns: 33.3rem repeat(2, 15.5rem);
        grid-template-rows: 18.2rem 15.8rem 18.2rem;
        column-gap: 2.4rem;
        row-gap: 2.4rem;
        margin-bottom: 12rem;
    }

    @media (min-width :375px) and (max-width :767px) {
        grid-template-columns: repeat(2, 15.9rem);
        grid-template-rows: 36.4rem 18.2rem 15.8rem repeat(2,18.2rem);
        column-gap: 2.5rem;
        row-gap: 2.4rem;
        margin-bottom: 10rem;
    }

    & > * {
        display: flex;
        flex-wrap: wrap-reverse;
        align-content: space-between;
        border-radius: .8rem;
    } 

    p {
        font-size: 2.4rem;
        font-weight: 700;
        color: #FFF7F0;
        margin-left: 2.4rem;
        margin-bottom: 2.4rem;
        flex-basis: 100%;
    }
   
    
    img {
        margin-top: 2.4rem;
        margin-right: 2.4rem;
        margin-left: auto;
    }


    &__graphic {
        background-color: $purple;
        grid-row: 1 / 3;
        grid-column: 1 / 2;  

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 1 / 2;
            grid-column: 1 / 3; 
        }
    
        img {
            width: 12.8rem ;
            height: 19.2rem;
        }
    }

    &__UI-UX {
        background-color: $orange;
        grid-row: 1 / 2;
        grid-column: 2 / 3;   

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 2 / 3;
            grid-column: 1 / 2; 
        }

        img {
            width: 6.4rem ;
            height: 6.4rem;
        }
    }

    &__apps {
        background-color: $pink;
        grid-row: 1 / 2;
        grid-column: 3 / 4;   

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 2 / 3;
            grid-column: 2 / 3; 
        }

        img {
            width: 6.4rem ;
            height: 6.4rem;
        }
    }

    &__illustrations {
        background-color: $red;
        grid-row: 2 / 3;
        grid-column: 2 / 4;   

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 3 / 4;
            grid-column: 1 / 3; 
        }

        img {
            width: 12.8rem ;
            height: 6.4rem;
        }
    }

    &__photography {
        background-color: $blue;
        grid-row: 1 / 2;
        grid-column: 4 / 5;   

        @media (min-width :768px) and (max-width :1440px) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;  
        }

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 4 / 5;
            grid-column: 1 / 3; 
        }

        img {
            width: 16rem ;
            height: 6.4rem;
        }
    }

    &__motion-graphics {
        background-color: $dark-purple;
        grid-row: 2 / 3;
        grid-column: 4 / 5;   

        @media (min-width :768px) and (max-width :1440px) {
            grid-row: 3 / 4;
            grid-column: 2 / 4;  
        }

        @media (min-width :375px) and (max-width :767px) {
            grid-row: 5 / 6;
            grid-column: 1 / 3; 
        }

        img {
            width: 12.8rem ;
            height: 6.4rem;
        }
    }
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.8rem;

    @media (min-width :768px) and (max-width :1440px) {
        margin-bottom: 12rem;
    }

    @media (min-width :375px) and (max-width :767px) {
        margin-bottom: 11.5rem;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 44.5rem;
        height: 44.5rem;
        border-radius: 50%;

        @media (min-width :768px) and (max-width :1440px) {
            width: 36.4rem;
            height: 36.4rem; 
            transform: translateX(-8.5rem);
        }

        @media (min-width :375px) and (max-width :767px) {
            width: 30rem;
            height: 30rem; 
            margin-bottom: 4rem;
        }

    }

    &__details {
        width: 54rem;
        align-self: center;

        @media (min-width :768px) and (max-width :1440px) {
            width: 33.9rem;
        }

        @media (min-width :375px) and (max-width :767px) {
            width: 34.3rem;
        }

        h1 {
            color: $black;
            font-weight: 700;
            font-size: 4rem;
            line-height: 5rem;
            margin-bottom: 3.4rem;

            @media (min-width :768px) and (max-width :1440px) {
                font-size: 3.2rem;
                line-height: 4rem;
                margin-bottom: 2.4rem;
            }

            @media (min-width :375px) and (max-width :767px) {
                font-size: 2.6rem;
                line-height: 3.3rem;
                text-align: center;
                margin-bottom: 2.4rem;
            }
        }

        p {
            color: $grey;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.8rem;
            margin-bottom: 3.2rem;

            @media (min-width :768px) and (max-width :1440px) {
                margin-bottom: 3.7rem;
            }

            @media (min-width :375px) and (max-width :767px) {
                font-size: 1.6rem;
                line-height: 2.6rem;
                text-align: center;
                margin-bottom: 3.7rem;
            }
        }

        &--button:link,
        &--button:visited {
            text-decoration: none;
            color: $white ;
            padding : 1.4rem 4.5rem;
            font-size: 1.6rem;
            background-color: $red;
            border-radius: 2.8rem;
            transition: all .2s;

            @media (min-width :375px) and (max-width :767px) {
                margin-left: 6rem;
            }
        }
        &--button:hover {
            background-color: $orange;
        }
  
}
}

.my-work {
    margin-bottom: 8.8rem;

    &--title {
    color: $black;
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 5.6rem ;
    text-align: center;

    @media (min-width :375px) and (max-width :767px) {
        font-size: 2.4rem;
        margin-bottom: 3.2rem ;
    }
    }


    &__pictures {
        display: flex;
        transform: translateX(-76.5%);
        margin-bottom: 5.6rem ;

        @media (min-width :768px) and (max-width :1440px) {
            width: 54rem;
            height: 36rem;
            transform: translateX(-197%);
        }

        @media (min-width :375px) and (max-width :767px) {
            width: 27rem;
            height: 18rem;
            transform: translateX(-209%);
            margin-bottom: 3.2rem ;
        }

    & > * {
        margin-right: 3rem;
        border-radius: .8rem ;
    }
    }

    &__navigation {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 1.6rem;
            width: 6.4rem;
            height: 6.4rem;
            background: $black;
            cursor: pointer;
            transition: all .2s;

            
        }

        div:hover {
            background: $purple;
        }
    }


}

.book-cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5.6rem;
    height: 32rem;
    background: $black;
    border-radius: 1rem;

    @media (min-width :768px) and (max-width :1440px) {
        flex-direction: column;
        text-align: center;
        height: 35.2rem;
    }

    @media (min-width :375px) and (max-width :767px) {
        width: 34.3rem;
        height: 35.2rem;
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem ;
    }
    
    &__text-container {
        
        h2,
        p {
            width: 54rem;
            color: $white;
        }
        
        h2 {
            font-weight: 700;
            font-size: 4rem;
            color: #FFF7F0;
            margin-bottom: 2.5rem;

            @media (min-width :768px) and (max-width :1440px) {
                font-size: 3.2rem;
                margin-bottom: 2.6rem;
            }

            @media (min-width :375px) and (max-width :767px) {
                font-size: 2.6rem;
                margin-bottom: 2.4rem;
            }
            
        }

        p{
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: #FFF7F0;

            @media (min-width :768px) and (max-width :1440px) {
                margin-bottom: -10.3rem;
            }

            @media (min-width :375px) and (max-width :767px) {
                width: 29.5rem;
                margin-left: 12.5rem;
                text-align: center;
                font-size: 1.6rem;
                margin-bottom: -5.8rem ;
            }
        }
    }

    &__button:link,
    &__button:visited {
       text-decoration: none;
       color: $white ;
       padding : 1.4rem 4.5rem;
       font-size: 1.6rem;
       background-color: $pink;
       border-radius: 2.8rem;
       transition: all .2s;

       @media (min-width :375px) and (max-width :767px) {
        margin-left: 1rem;
    }
    }

    &__button:hover {
        background-color: $orange;
    }

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6rem;

    &__logo {
        @media (min-width :375px) and (max-width :767px) {
            width: 4.8rem;
            height: 4.8rem;  
        }
    }

    &__button:link,
    &__button:visited {
       text-decoration: none;
       color: $white ;
       padding : 1.4rem 4.5rem;
       font-size: 1.6rem;
       background-color: $black;
       border-radius: 2.8rem;
       transition: all .2s;

       @media (min-width :375px) and (max-width :767px) {
        font-size: 1.4rem;
        padding : 1.3rem 2.8rem;
    }
    }

    &__button:hover {
        background-color: $purple;
     }
}
}